<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>HappyMall</title>
    <%include common.ejs%>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body style="height:1500px">
    <!--Header Include-->
    <%include header.ejs%>

    <!--Main-->
    <div class="main">
        <div class="container-fluid">
            <!-- carousel -->
            <div class="d-flex justify-content-center">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/carousel1.jpg" class="img-fluid carousel-gradient" alt="carousel1">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/carousel2.jpg" class="img-fluid carousel-gradient" alt="carousel2">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev h-50" >
                        <span class="carousel-control-prev-icon" href="#carousel" data-slide="prev"></span>
                    </a>
                    <a class="carousel-control-next h-50" >
                        <span class="carousel-control-next-icon" href="#carousel" data-slide="next"></span>
                    </a>
                </div>
            </div>




            <!--main start-->
            <div class="item-list">
                <div class="main-inner bg-white">
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item">인기 상품</li>
                                <li class="list-group-item">
                                    <div class="d-flex main-inner-group-item mb-1">
                                        <% for(var i=0;i<productInfo.popularProduct.length;i++){ %>
                                            <div class="m-2">
                                                <a href="/dispProduct?id=<%= productInfo.popularProduct[i]._doc._id %>">
                                                    <img src="/uploads/<%= productInfo.popularProduct[i]._doc.filename%>" class="img-responsive product-img">
                                                </a>
                                            </div>
                                        <% } %>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <ul class="list-group">
                                <li class="list-group-item">최근확인한 상품</li>
                                <li class="list-group-item">
                                    <div class="d-flex main-inner-group-item mb-1">
                                    <% if(productInfo.checkProduct){
                                        for(var i=0;i<productInfo.checkProduct.length;i++){ %>
                                        <div class="m-2">
                                            <a href="/dispProduct?id=<%= productInfo.checkProduct[i]._doc._id %>">
                                                <img src="/uploads/<%= productInfo.checkProduct[i]._doc.filename%>" class="img-responsive product-img">
                                            </a>
                                        </div>
                                    <% }
                                    } else{ %>
                                    <div class="d-flex flex-column w-100">
                                        <div class="p-1">
                                            <p>좀 더 편한 쇼핑을 즐겨보세요.</p>
                                        </div>
                                        <div class="signIn">
                                            <button type="button" class="btn signIn">Sign In</button>
                                        </div>
                                    </div>
                                    <% } %>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <ul class="list-group">
                                <li class="list-group-item">추천상품</li>
                                <li class="list-group-item">
                                    <div class="d-flex main-inner-group-item mb-1">
                                        <% for(var i=0;i<productInfo.recommendProduct.length;i++){ %>
                                            <div class="m-2">
                                                <a href="/dispProduct?id=<%= productInfo.recommendProduct[i]._doc._id %>">
                                                    <img src="/uploads/<%= productInfo.recommendProduct[i]._doc.filename%>" class="img-responsive product-img">
                                                </a>
                                            </div>
                                        <% } %>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 mt-3">
                            <ul class="list-group">
                                <li class="list-group-item">새로 등록된 상품</li>
                                <li class="list-group-item">
                                    <div class="d-flex main-inner-group-item mb-1">
                                        <% for(var i=0;i<productInfo.latestProduct.length;i++){ %>
                                            <div class="m-2">
                                                <a href="/dispProduct?id=<%= productInfo.latestProduct[i]._doc._id %>">
                                                    <img src="/uploads/<%= productInfo.latestProduct[i]._doc.filename%>" class="img-responsive product-img">
                                                </a>
                                            </div>
                                        <% } %>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 mt-3">
                            <ul class="list-group">
                                <li class="list-group-item">최근 본 상품</li>
                                <li class="list-group-item">
                                    <div class="d-flex main-inner-group-item mb-1">
                                    <%  if(productInfo.viewProduct && session.accountEmail){
                                        for(var i=0;i<productInfo.viewProduct.length;i++){ %>
                                        <div class="m-2">
                                            <a href="/dispProduct?id=<%= productInfo.viewProduct[i]._doc._id %>">
                                                <img src="/uploads/<%= productInfo.viewProduct[i]._doc.filename%>" class="img-responsive product-img">
                                            </a>
                                        </div>
                                        <% }
                                        } else{ %>
                                        최근에 찾아본 상품이 존재하지 않습니다.
                                        <% } %>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
